.main {
  margin-bottom: 69px;

}

.about {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
  }

  &__welbex {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin-bottom: 30px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.cards {
  max-width: 330px;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__title {
    margin-bottom: 40px;

    span {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: linear-gradient(-45deg, #FCB045 36.99%, #FD1D1D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
  }

  &__item {
    text-align: right;
    margin-bottom: 30px;
  }

  &__card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &__button {
    width: 262px;
    height: 61px;
    background: #4077F3;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;
  }
}


