.main {
  margin-bottom: 69px;
  min-height: 100%;
}

.about {
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
  }

  &__welbex {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin-bottom: 30px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.cards {
  max-width: 330px;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__title {
    margin-bottom: 40px;

    span {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background: linear-gradient(-45deg, #FCB045 36.99%, #FD1D1D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
  }

  &__item {
    text-align: right;
    margin-bottom: 30px;
  }

  &__card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &__button {
    width: 262px;
    height: 61px;
    background: #4077F3;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;
  }
}

.cards:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  right: 411px;
  top: 428px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}


