.header {
  margin-top: 46px;
  margin-bottom: 73px;

  position: relative;
  z-index: 10;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    img {
      margin-bottom: 10px;
    }

    p {
      color: #E4E5EA;
    }

    margin-top: 11px;
    margin-right: 52px;
    width: 140px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }

  &__menu {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 19px;
  }

  &__list {
    display: flex;
    margin-top: 15px;

    li {
      a {
        font-family: "Inter", sans-serif;
        transition: all 0.3s ease 0s;
        color: #E4E5EA;
        font-size: 16px;
      }

      margin-right: 30px;
    }

    li:last-child {
      margin-right: 137px;
    }

    a:hover {
      color: #f25822;
    }
  }

  &__contacts {
    display: flex;
    margin-top: 15px;

    a {
      transition: all 0.3s ease 0s;
      font-family: "Inter", sans-serif;
      color: #E4E5EA;
      align-items: center;
      margin-right: 30px;
      font-size: 16px;
    }

    a:first-of-type {
      margin-right: 47px;
    }

    a:last-child {
      margin-right: 0;
    }

    a:hover {
      color: #f25822;
    }
  }
}

.header:before {
  content: '';
  position: absolute;
  width: 83px;
  height: 83px;
  left: 389px;
  top: 37px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.header:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  left: 738px;
  top: -48px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

@media (max-width: 321px) {

  .header {
    z-index: 999;
    margin-top: 0;
    height: 55px;
    background: #0E1014;
    margin-bottom: 0;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      display: none;
    }

    &__list {
      display: flex;
      padding: 0 8px;

      li {
        a {
          color: #E4E5EA;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
        }

        margin: 0 8px;
      }

      li:last-child {
        display: none;
      }
    }

    &__contacts {
      display: none;
    }
  }
}

.header:before {
  display: none;
}

.header:after {
  display: none;
}


