@charset "UTF-8";
@font-face {
    font-family: 'Montserrat';
    src: url('./../src/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./../src/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../src/fonts/Montserrat-Light.woff2') format('woff2'),
    url('./../src/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./../src/fonts/Inter-Medium.woff2') format('woff2'),
    url('./../src/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./../src/fonts/Inter-Bold.woff2') format('woff2'),
    url('./../src/fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./../src/fonts/Inter-Regular.woff2') format('woff2'),
    url('./../src/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./../src/fonts/Inter-Black.woff2') format('woff2'),
    url('./../src/fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #1E1E1E;
    color: #E4E5EA;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
